<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ms.kreations.researchnranking">

    <application
        android:allowBackup="true"
        android:icon="@drawable/rnrlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rnrlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResearchNRanking">
        <activity
            android:name=".activity.DashboardActivity"
         >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">

        </activity><activity android:name=".activity.FragmentMainActivity">

        </activity>
    </application>

</manifest>